*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 29, 36);
}


li, button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    background-color: rgb(43, 151, 0);
    padding: 10px 25px;
    border-radius: 25px;
}

.nav_links li a:hover{
    color: cyan;
    background-color: rgb(2, 68, 0)
}

button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(0, 143, 119);
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.9);
}


/*----------Main Body-------*/

.main-body-container{
    border: 1px solid white;
    height: 920px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin: 120px 350px;
    position: absolute;
    top: 0px;
    left: 10px;

}

/*----------Main Body Text-------*/
.main-body-container .main-body-text h1{
    color: white;
}

.main-body-container .main-body-text{
    display: flex;
    justify-content: center;

}


/*----------Photo-------*/
.photo-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid yellow; /*Debugging*/
    height: 200px;
    width: 300px;
    margin: 20px 30px;
}

.photo-frame{
    background-color: lightyellow;
    height: 199px;
    width: 299px;
}


/*----------Short Skills LHS-------*/
.short-skill-container{
    margin: 20px 30px;
    display: flex;
    height: 700px;
    width: 300px;
    border: 1px solid lightcyan;
}


/*----------footer-------*/
footer{
    padding: 10px 10%;
    justify-content: space-between;
}

.footer-container{
    width: 100%;

}

.Social-Media-Links{
    width: 100%;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.footer-container .Social-Media-Links li a{
    color: white;
    background-color:  rgb(0, 143, 119);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.footer-container .Social-Media-Links li a:hover{
    background-color: rgba(0, 136, 169, 0.9);
}