*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    width: 900px;
    margin: 0 auto;
    border: 1px solid red;
    overflow: hidden;
    background-color: #EAEDF0;
}

.menu{
    height: 100px;
    background-color:#B2D6FF;
}

.sidebar{
    width: 200px;
    height: 300px;
    float: left;
    background-color: #F09A9D;
}

.content{
    float: left;
    height: 500px;
    width: 650px;
    background-color: #F5CF8E;
}

.footer{
    clear: both;
    height: 200px;
    background-color: #D6E9FE;
}


.button{
    position: relative;
    left: -10px;
    top: 50px;
    display: block;
    margin: 10px;
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.button:hover{
    background-color: red;
}