table{ 
    table-layout: fixed;
}

thead th:nth-child(1){
    width: 50%;
}

thead th:nth-child(2){
    width: 30%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}